
<div *ngIf="conta">
    <h2><span>Conta</span> {{conta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{conta.nome}}</span>
        </dd>
        <dt><span>Valor</span></dt>
        <dd>
            <span>{{conta.valor}}</span>
        </dd>
        <dt><span>Data</span></dt>
        <dd>
            <span>{{conta.data | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Parcelas</span></dt>
        <dd>
            <span>{{conta.parcelas}}</span>
        </dd>
        <dt><span>Isentrada</span></dt>
        <dd>
            <span>{{conta.isentrada}}</span>
        </dd>
        <dt><span>Ativo</span></dt>
        <dd>
            <span>{{conta.ativo}}</span>
        </dd>
        <dt><span>Destino</span></dt>
        <dd>
            <span>{{conta.destino}}</span>
        </dd>
        <dt><span>Area</span></dt>
        <dd>
            <span>{{conta.area}}</span>
        </dd>
        <dt><span>Recurso</span></dt>
        <dd>
            <span>{{conta.recurso}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'conta/'+ conta.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
