<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContaLabel">Create or edit a Conta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conta.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conta.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="conta.nome" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="conta.valor" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_data">Data</label>
            <div class="input-group">
                <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker  #dataDp="ngbDatepicker" [(ngModel)]="conta.data"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_parcelas">Parcelas</label>
            <input type="number" class="form-control" name="parcelas" id="field_parcelas"
                [(ngModel)]="conta.parcelas" value="1" min="1" max="100"/>
        </div>
        <div *ngIf="conta && conta.parcelas && conta.parcelas > 1" style="font-weight: bold">
            Termina em: {{ getDate() | date}}
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isentrada">É uma receita?</label>
            <input type="checkbox" class="form-control" name="isentrada" id="field_isentrada"
                [(ngModel)]="conta.isentrada" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ativo">Ativo</label>
            <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                [(ngModel)]="conta.ativo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_destino">Destino</label>
            <select class="form-control" name="destino" [(ngModel)]="conta.destino" id="field_destino" >
                <option value="MIQUEIAS">MIQUEIAS</option>
                <option value="ALDA">ALDA</option>
                <option value="ISAAC">ISAAC</option>
                <option value="RUTH">RUTH</option>
                <option value="FAMILIA">FAMILIA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_area">Area</label>
            <select class="form-control" name="area" [(ngModel)]="conta.area" id="field_area" >
                <option value="ALIMENTAR">ALIMENTAR</option>
                <option value="ROUPA">ROUPA</option>
                <option value="ELETRO">ELETRO</option>
                <option value="CARRO">CARRO</option>
                <option value="CASA">CASA</option>
                <option value="EDUCACAO">EDUCACAO</option>
                <option value="SAUDE">SAUDE</option>
                <option value="ESTETICA">ESTETICA</option>
                <option value="OUTRO">OUTRO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_recurso">Recurso</label>
            <select class="form-control" name="recurso" [(ngModel)]="conta.recurso" id="field_recurso" >
                <option value="BB_CREDITO">BB_CREDITO</option>
                <option value="BB_DEBITO">BB_DEBITO</option>
                <option value="CAIXA">CAIXA</option>
                <option value="NUBANK_M_C">NUBANK_M_C</option>
                <option value="NUBANK_A_C">NUBANK_A_C</option>
                <option value="DINHEIRO">DINHEIRO</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
